body {
    background-color: black !important;  /* Added !important to ensure it takes precedence */
    transition: background-color 0.3s ease;
    /* background-image: url('rock_bg.png'); */
    background-size: cover;
    background-position: center;
    height: 3000px;
    /* padding-top: 10rem; */
    text-align: center;
    font-family: serif;


}

.oracle_answer {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    color: #2a52be;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.oracle_answer {
    font-size: 1.4rem;
    color: #5977c9;    
    margin: 0 12%;  /* Removed top/bottom margin */
    padding: 0 1rem;  /* Removed top/bottom padding */
    font-family: serif;
    position: relative;
    top: 50%;  /* Move down by 50% of parent height */
    transform: translateY(-50%);  /* Move up by 50% of element height */
}

.oracle_wrapper {
    text-align: center;
    border-radius: 20px;
    outline: white;
    height: 24rem;
    transition: background-color 1s ease, box-shadow 1s ease; 
}

.oracleBody {
    background-color: #505050	;
    border-radius: 20px; /* ✅ Adjust for roundness */
    padding: 2rem;
    perspective: 1000px; 
    /* transition: transform 0.1s ease-out; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));  /* Black gradient background */
    border-radius: 20px;
    padding: 2rem;
    perspective: 1000px;
}

.oracleTextp {
    color: #2a52be; 
}

.intro-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #2a52be;
    opacity: 0;
    animation: fadeInOut 4s ease-in-out infinite;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    display: block;
    opacity: 1;
    animation-delay: 1s;

}

#permission-button {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.8rem 3rem; /* Reduced padding */
    background-color: #121827;
    color: #5977c9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 1s;
    font-size: 1.2rem;
    font-family: serif;
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Deep color variations for oracle wrapper */
.oracle-color-1 {
    background-color: #0000CC;  /* Deep blue */
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
}

.oracle-color-2 {
    background-color: #cc00ad;  /* Deep red */
    box-shadow: 0 0 20px rgba(255, 0, 140, 0.5);
}

.oracle-color-3 {
    background-color: #006600;  /* Deep green */
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
}

.oracle-color-4 {
    background-color: #660066;  /* Deep purple */
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.5);
}