


body {
    background-color: white;
    transition: background-color 0.3s ease;
    height: 3000px;
    padding-top: 10rem;
    text-align: center;

}

.oracle_answer {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.oracle_answer {
    font-size: 1.4rem;
    color: #2a52be;
    margin: 2rem 12%;
    padding: 2rem 1rem;
}

.oracle_wrapper {
    background-color: black;
    text-align: center;
    border-radius: 20px; /* ✅ Adjust for roundness */
    outline: white;
    height: 50%;
}

.oracleBody {
    background-color: #505050	;
    border-radius: 20px; /* ✅ Adjust for roundness */
    padding: 2rem;
    perspective: 1000px; 
    transition: transform 0.1s ease-out;

}

.oracleTextp {
    color: white;
}