#ripple-container {
    display: flex;
    justify-content: space-between; /* Take up as much space as possible */
    align-items: stretch; /* Stretch items to take up full height */
    flex-direction: column;
    height: 60vh; /* Set the container to take full viewport height */
}

#ripple-1, #ripple-2, #ripple-3 {
    text-align: center;
    flex: 1; /* Allow each ripple to take up equal space */
    opacity: 0;
}

.instructions {
    opacity: 1;
    text-align: center;
    font-size: 16px;
    margin: auto; /* Center vertically and horizontally */
    position: absolute; /* Positioning for centering */
    top: 50%; /* Move to the middle of the viewport */
    left: 50%; /* Move to the middle of the viewport */
    transform: translate(-50%, -50%); /* Adjust for element's own dimensions */
}



/* TEXT INPUT SHENANIGANS ... */
#wish-input-container {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    margin: 0 auto; /* Center the container itself */
}

#wish-input, #wish-input2, #wish-input3 {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    /* height: 100px; */
}

#submit-wish {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* background-color: #007bff; */
    cursor: pointer;
    font-size: 16px;
}

#submit-wish:hover {
    /* background-color: #0056b3; */
}

/* Add this class for the fade out effect */
.fade-out {
    opacity: 0 !important;
    pointer-events: none;
}